/* Debian language css file for greek - el */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=el] q:before { content: "\00AB"; }
html[lang=el] q:after { content: "\00BB"; }
html[lang=el] q q:before { content: "\2039"; }
html[lang=el] q q:after { content: "\203A"; }

html[lang=el] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=el] blockquote.quote p:after { content: ""; }
html[lang=el] blockquote.quote p.last:after { content: "\00BB"; }

/* html[lang=el] q:before { content: "\201C"; }
html[lang=el] q:after { content: "\201E"; }
html[lang=el] q q:before { content: "\2018"; }
html[lang=el] q q:after { content: "\201A"; }
*/
